/* reset */

* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

/* swiper */
.swiper-button-next:after{
    display: none;
}
.swiper-button-prev:after{
    display: none;
}