@media (min-width:1200px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        height: 2800px;
    }

    ul,
    ol,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    #wrap {
        width: 100%;
        height: 100%;
    }

    /*header nav_(햄버거)*/
    .a {
        display: none;
        cursor: pointer;
    }

    .b {
        display: block;
        cursor: pointer;
    }

    .c {
        display: none;
        cursor: pointer;
    }


    header {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0;
        transition: 0.5s all ease-in-out;
        z-index: 5;
        background: none;
    }

    header #navbox {
        width: 1600px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }

    header #navbox #logo img {
        width: 80px;
        margin-top: 20px;
    }

    header #navbox nav {
        width: 900px;
        height: 20px;
        font-family: Play, sans-serif;
    }
    header #navbox ul li {
        float: left;
        width: 110px;
        height: 35px;
        opacity: .8;
        line-height: 40px;
        text-align: center;
        font-size: 17px;
        margin-left:0px;
    }

    header #navbox ul li a {
        color: #fff;
    }

    ul li ul li {
        display:none;
    }

    ul li:hover ul li {
        display: block;
        background: black;
    }

    header #navbox ul li:hover {
        border-bottom: 2px solid #c07932;
    }

    /*header fixed*/
    header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background: #fff;
    }

    header.fixed #navbox ul li a {
        color: black;
    }

    header.fixed #navbox .c {
        display: none;
    }

    header.fixed #navbox .sub {
        display: none;
    }

    header.fixed #navbox #logo {
        margin-top: -13px;
    }


    #slider {
        width: 100%;
        height:100vh;
    }

    #slider_1 {
        width: 100%;
        height:100vh;
        background-image: url('../img/a.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 2;
    }

    #slider_2 {
        display: none;
        width: 100%;
        height:100vh;
        background-image: url('../img/b.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 1;
    }

    #slider_3 {
        display: none;
        width: 100%;
        height:100vh;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/a.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 0;
    }

    #slider .textbox {
        width: 560px;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*텍스트 밑 선주기*/
    #slider .line {
        width: 70px;
        height: 4px;
        margin-top: 5px;
        margin-bottom: 8px;
        border-top: 1px solid #c07932;
        border-bottom: 1px solid #c07932;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #slider .textbox h2 {
        font-size: 40px;
        font-family: Great Vibes;
        font-weight: normal;
        color: #c07932;
        margin: 20px 0 0 0px;
    }

    #slider .textbox h1 {
        font-family: Noto Serif KR;
        font-size: 32px;
        color: white;
        font-weight: 700;
        margin: 10px 0px;
        text-align: center;
        font-weight: 100;
    }

    #slider .textbox p {
        width: 430px;
        height: 124px;
        font-size: 15px;
        color: white;
        font-weight: 400;
        line-height: 25px;
        margin: 10px 0 0 0px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #slider .bt_a {
        width: 174px;
        height: 43px;
        background: #c07932;
        border: none;
        border-radius: 5px;
        color: #fff;
    }

    #slider .bt_a:hover {
        background: #040e24;
        transition: all, 0.9s;
    }

    /*location*/
    #location {
        width: 100%;
        height: 424px;
        background: black;
        display: flex;
    }

    #location .l_img {
        width: 34%;
        height: 424px;
        background-color: #010c24;
        opacity: 0.75;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #location .l_img span {
        font-size:37px;
        color: #fff;
        font-family:Noto Serif KR;
        text-align: center;
    }

    .btn {
        width: 193px;
        height: 43px;
        border-width: 1px;
        background: none;
        border-radius: 3px;
        border: 1px solid #c07932;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s;
    }

    .btn:hover {
        background: #c07932;
        transition: all, 0.9s;
    }

    #location .l_img:nth-of-type(1) {
        background-image: url('../img/London.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #location .l_img:nth-of-type(2) {
        background-image: url('../img/NEWYORK.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #location .l_img:nth-of-type(3) {
        background-image: url('../img/Rome.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    /*메뉴소개*/
    #demo {
        width: 100%;
        height: 1150px;
        background-image: url('../img/s2cover.jpg');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #demo .txtbox {
        width: 700px;
        height: 522px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        background:none;

    }

    #demo .txtbox .arrow-top {
        width: 86px;
        height: 34px;
        text-align: center;
        background-image: url('../img/icon.png');
    }

    #demo .txtbox h1 {
        width: 228px;
        height: 28px;
        text-align: center;
        font-size: 18px;
        font-family: Noto Serif KR;
    }

    #demo .txtbox h3 {
        width: 601px;
        height: 44px;
        text-align: center;
        font-size: 40px;
        font-family: Noto Serif KR;
        margin-top: -20px;
    }

    #demo .txtbox p {
        width: 601px;
        height: 112px;
        text-align: center;
        letter-spacing: 0.035em;
        line-height: 28px;
        font-size: 13px;
    }

    #demo .txtbox .box {
        width: 460px;
        height: 95px;
        display: flex;
        justify-content: space-around;
    }

    #demo .txtbox .box .icon {
        width: 65px;
        height: 65px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fa-hamburger{
        opacity:0;
        color: #c07932;
        font-size: 38px;
    }
    
    #demo .txtbox .box .icon:hover .fa-hamburger{
        opacity:1;
    }

    #demo .txtbox .arrow-bottom {
        width: 86px;
        height: 34px;
        background-image: url('../img/icon2.png');
        margin-top: -20px;
    }

    /*메뉴*/
    #demo > .menu {
        width: 1010px;
        height: 430px;
        display: flex;
        justify-content: space-between;
    }

    /*overflow 여기적용*/
    #demo .menu .menu1 {
        width: 296px;
        height: 430px;
        background-image: url('../img/fish.jpg');
        overflow: hidden;
        background-size: cover;
    }

    #demo .menu .menu1 .explain {
        width: 296px;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu1 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu1 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 170px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu1 .explain:hover {
        margin-top: 230px;
    }

    #demo .menu .menu2 {
        width: 296px;
        height: 430px;
        background-image: url('../img/Cocktail.jpg');
        overflow: hidden;
        background-size: cover;
    }

    #demo .menu .menu2 .explain {
        width: 296px;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu2 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu2 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 150px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu2 .explain:hover {
        margin-top: 230px;
    }

    #demo .menu .menu3 {
        width: 296px;
        height: 430px;
        background-image: url('../img/bugger.jpg');
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }

    #demo .menu .menu3 .explain {
        width: 296px;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu3 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu3 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 150px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu3 .explain:hover {
        margin-top: 230px;
    }

    /*today menu*/
    #today_menu {
        width: 100%;
        height: 921px;
        background-image: url('../img/s3.jpg');
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #today_menu .container {
        width: 585px;
        height: 516px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #today_menu .container nav {
        width: 555px;
        height: 36px;
        display: flex;
        align-items: center;
    }

    #today_menu .container .menu {
        width: 100%;
        height: 127px;
        display: flex;
    }

    #today_menu .container .menu .img {
        width: 150px;
        height: 127px;
        background-image: url('../img/Sendwitch.jpg');
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #today_menu .container .menu .img:hover .fa-search-plus{
        display:block;
        width:100%;
        height: 127px;
        background-color: rgba(34, 41, 54, 0.5);
        opacity: 0.8;
        transition: all, 0.9s ;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .fa-search-plus {
        font-size: 35px;
        color: #fff;
    }

    #today_menu .container .menu .price {
        width: 430px;
        height: 127px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #today_menu .container .menu .price h4 {
        font-size: 16px;
        font-family: Noto Serif KR;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #today_menu .container .menu .price p {
        font-family: Noto Serif KR;
        font-size: 13px;
        color: #616161;
        margin-left: 20px;
    }

    #today_menu .container nav ul li {
        float: left;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }

    #today_menu .container nav ul li a {
        color: #c9c9c9;
        display: block;
    }

    #today_menu .container nav ul li a:hover {
        color: #fff;
        transition: all, 0.9s;
    }


    #today_menu > .textbox {
        width: 480px;
        height: 401px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 90px;
    }

    #today_menu > .textbox:hover {
        transition: all 1s;
        -webkit-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

    #today_menu .textbox h3 {
        font-size: 45px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #today_menu .textbox span {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.87);
    }

    #today_menu .textbox button {
        width: 171px;
        height: 46px;
        background: #c07932;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
    }

    #today_menu .textbox button:hover {
        background: #040e24;
        transition: all, 0.9s;
    }

    #food_colection {
        width: 100%;
        height:auto;
        display: flex;
        flex-wrap: wrap;
        background-color: #010c24;
    }

    #food_colection .imgbox {
        width: 25%;
        height:408px;
        background-size: cover;
        background-color: #010c24;
        opacity: 0.65;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #food_colection .imgbox:hover .txt_hover {
        opacity: 1;
    }

    .txt_hover{
        width:90%;
        height:271px;
        border:2px solid #c07932;
        background-color: rgba(34, 41, 54, 0.5);
        opacity: 0.8;
        transition: all, 0.9s ;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        opacity:0;
    }
    

    .txt_hover .food_name {
        color: #fff;
        transition: 0.5s;
        font-family: Noto Serif KR;
        font-size: 30px;
    }

     .txt_hover h2 {
        color: #fff;
        font-size: 18px;
        text-align: center;
        color: rgba(255, 255, 255, 0.87);
        font-family: Noto Serif KR;
         display:block;
    }

    #food_colection .txtbox {
        width: 400px;
        height: 400px;
        background: red;

    }

    #food_colection .txtbox:hover {
        opacity: 1.0;
        transition: all 1.0s;
    }

    /*our-menu*/
    #our-menu {
        width: 100%;
        height: 876px;
        background-image: url('../img/s5.jpg');
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    #our-menu h1 {
        font-family: Noto Serif KR;
        margin-bottom: 30px;
    }

    #our-menu .menubox {
        width: 1160px;
        height: 534px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #our-menu .menubox .second {
        width: 1160px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #our-menu .menubox .second ul {
        display: flex;
    }

    #our-menu .menubox .second ul li {
        padding: 0 30px;
    }

    #our-menu .menubox .second ul li a {
        font-size: 15px;
        font-family: Noto Serif KR;
        color: black;
    }

    #our-menu .menubox .second ul li a:hover {
        color: #bf6409;
        transition: all, 0.9s;
    }

    #our-menu .menubox .wrap {
        width: 1160px;
        height: 420px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;


    }

    #our-menu .menubox .wrap .food {
        width: 520px;
        height: 80px;
        display: flex;
        justify-content:space-between;

    }

    #our-menu .menubox .wrap .food .img {
        width: 90px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-color: #010c24;

    }

    #our-menu .menubox .wrap .food .img img:hover {
        background-color: rgba(0, 8, 27, 0.8);
        opacity: 0.7;
        transition: transform .5s;
        
    }
    .dots-box{
        width:416px;
        height:80px;
    }
    .box{
        display:flex;
    }
    
    .box {
        margin-bottom:4px;
    }


    .btn {
        width: 206px;
        height: 44px;
        background: #bf6409;
    }

    .btn:hover {
        background: #040e24;
        transition: all, 0.9s;
    }
    
    .menu-dots-line{
        flex: 1;
        border-bottom: 1px dotted #bbb;
    }
    /*Section7 레스토랑 예약창*/
    #s7-reservation {
        width: 100%;
        height: 1050px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    #s7-reservation h1 {
        color: #ffffff;
        font-size: 50px;
        font-weight: normal;
        text-align: center;
        font-weight: 400;
        font-family: Noto Serif KR;
    }

    #s7-reservation h2 {
        color: rgba(255, 255, 255, 0.87);
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        font-family: Noto Serif KR;
        font-weight: 300;
    }

    #s7-reservation #r_box {
        width: 1140px;
        height: 653px;
        background-image: url(../img/background.jpg);
        margin: 40px auto 0;
        background-repeat: no-repeat;
        background-color: #fff;

    }

    #s7-reservation #r_box .selectbox {
        width: 70%;
        height: 153px;
        position: relative;
        top: -20px;
        left: 200px;
    }

    #s7-reservation #r_box .selectbox h4 {
        margin: 40px 0 0 20px;
        font-size: 14px;


    }

    #s7-reservation #r_box .selectbox span {
        font-size: 15px;
        margin: 0px 70px;
        color: black;

    }

    #s7-reservation #r_box .selectbox span:hover {
        color: #c07932;
    }

    #s7-reservation #r_box .selectbox > button h5 {
        font-size: 14px;
        display: inline;
        margin: 0px 0 0 30px;
    }

    #s7-reservation #r_box .selectbox .btn {
        width: 30%;
        height: 75px;
        border: 1px solid #666;
        background-position: 8px;
        margin-left: 20px;
        background: none;
        background-repeat: no-repeat;

    }

    #s7-reservation #r_box .numberbox {
        width: 810px;
        height: 62px;
        position: relative;
        top: -20px;
        left: 200px;
        margin-bottom: 30px;
    }

    #s7-reservation #r_box .numberbox h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0px 20px;

    }

    #s7-reservation #r_box .numberbox ul {
        padding: 0;
        margin: 10px 0px;
        list-style: none;

    }

    #s7-reservation #r_box .numberbox ul a {
        font-family: arial;
        font-size: 14px;
        color: black;
        font-weight: normal;
        text-decoration: none;
    }

    #s7-reservation #r_box .numberbox li {
        float: left;
        padding: 0px 20px;
        text-decoration: none;
        color: white;
    }

    #s7-reservation #r_box .detailbox {
        width: 70%;
        height: 520px;
        position: relative;
        top: -20px;
        left: 200px;
    }

    #s7-reservation #r_box .detailbox .box {
        width: 100%;
        height: 480px;
        display: flex;
        position: relative;

    }

    #s7-reservation #r_box .detailbox .box .form {
        width: 380px;
        height: 420px;
        margin: 0px 20px;
        display: flex;
        flex-direction: column;

    }

    #s7-reservation #r_box .detailbox .box .form label {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
        margin-left: 2px;
    }

    #s7-reservation > #r_box > .detailbox > .box > .form > input {
        width: 100%;
        height: 60px;
        padding-left: 25px;
        padding-right: 25px;
        background: #fcfcfc;
        color: #454545;
        border: 1px solid #e5e5e5;
        margin: 5px 0px;

    }

    #s7-reservation > #r_box > .detailbox > .box > .form > textarea {
        width: 100%;
        height: 100px;
        background: #fcfcfc;
        border: 1px solid #e5e5e5;
        padding: 22px 25px;
        margin: 10px 0px;
        color: #454545;
        font-size: 12px;

    }

    #s7-reservation > #r_box > .detailbox button {
        width: 153px;
        height: 45px;
        background-color: #c07932;
        border: none;
        border-radius: 5px;
        color: #fff;
        margin-left: 30px;
        position: relative;
        top: -160px;
        left: 595px;

    }

    #s7-reservation > #r_box > .detailbox button:hover {
        background: #040e24;
        transition: all, 0.9s;
    }

    /*footer*/
    footer {
        width: 100%;
        height:430px;
        background-color: #010c24;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > .logo {
        width: 121px;
        height: 127px;
        background-color: #010c24;
        padding: 20px 0px;
    }

    footer > .logo img {
        width: 121px;
        height: 127px;
    }

    footer > .tbox {
        width: 90%;
        height: 162px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:0px;
        margin-bottom:50px;

    }

    footer > .tbox > .information {
        width: 20%;
        height: 182px;
        float: left;
        margin: 0 10px;

    }

    footer > .tbox > .information:nth-child(2) {
        width: 14%;

    }

    footer > .tbox > .information:nth-child(3) {
        width: 14%;

    }

    footer > .tbox > .information:nth-child(4) {
        width: 14%;

    }

    footer > .tbox > .information h3 {
        font-size:16px;
        color: #c07932;
        margin: 0px;
        font-family: Noto Serif KR;
        margin-bottom:20px;

    }

    footer > .tbox > .information p {
        font-size: 14px;
        color: #fff;
    }

    footer > .Social {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #010819;

    }

    footer > .Social p {
        width: 100%;
        font-size: 16px;
        color: #c07932;
        text-align: center;
    }

}