@charset "UTF-8";

@media (max-width:599px) {

    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        height: 2800px;
    }

    ul,
    ol,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    #wrap {
        width: 100%;
        height: 100%;
    }


    /*header nav_(599햄버거)*/
    .a {
        display: block;
        cursor: pointer;
    }

    .b {
        display: none;
        cursor: pointer;
    }

    .c {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 85px;
        left: -45px;
    }

    /*header*/
    header {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        
        background:#fff;
        transition: 0.5s all ease-in-out;
        z-index: 10;
    }

    header #navbox {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    header #navbox #logo img {
        width: 80px;
    }

    header #hide_nav {
        width:100%;
        height: auto;
        margin-left:45px;
        font-family: Play, sans-serif;
        z-index: 3;

    }

    header #hide_nav ul {
        font-size: 16px;
        color: white;
        display: flex;
        flex-direction: column;
        margin-top:16px;
    }

    header #hide_nav ul li {
        float: left;
    }

    header #hide_nav ul li a {
        text-decoration: none;
        color: black;
        background-color: #fff;
        display: block;
        border-bottom: 1px solid #e3e3e3;
        text-align: center;
        padding: 25px;
    }

    header #hide_nav ul li a:hover {
        color:#c07932;
        transition: all, 0.3s;
    }


    #slider {
        width: 100%;
        height: 850px;
    }

    #slider_1 {
        width: 100%;
        height: 850px;
        background-image: url('../img/a.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 2;
    }

    #slider_2 {
        display: none;
        width: 100%;
        height: 850px;
        background-image: url('../img/b.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 1;
    }

    #slider_3 {
        display: none;
        width: 100%;
        height: 850px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/a.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        z-index: 0;
    }

    #slider .textbox {
        width:90%;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*텍스트 밑 선주기*/
    #slider .line {
        width: 70px;
        height: 4px;
        margin-top: 5px;
        margin-bottom: 8px;
        border-top: 1px solid #c07932;
        border-bottom: 1px solid #c07932;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #slider .textbox h2 {
        font-size: 40px;
        font-family: Great Vibes;
        font-weight: normal;
        color: #c07932;
        margin: 20px 0 0 0px;
    }

    #slider .textbox h1 {
        font-family: Noto Serif KR;
        font-size: 32px;
        color: white;
        font-weight: 700;
        margin: 10px 0px;
        text-align: center;
        font-weight: 100;
    }

    #slider .textbox p {
        height: 124px;
        font-size: 15px;
        color: white;
        font-weight: 400;
        line-height: 25px;
        margin: 10px 0 0 0px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #slider .bt_a {
        width: 174px;
        height: 43px;
        background: #c07932;
        border: none;
        border-radius: 5px;
        color: #fff;
    }

    #slider .bt_a:hover {
        background: #040e24;
        transition: all, 0.9s;
    }

    /*location*/
    #location {
        width: 100%;
        height: auto;
        background: black;
        display: flex;
        flex-direction: column;
    }

    #location .l_img {
        width: 100%;
        height: 424px;
        background-color: #010c24;
        opacity: 0.75;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #location .l_img span {
        font-size: 50px;
        color: #fff;
        font-family: arial;
        text-align: center;
    }

    .btn {
        width: 193px;
        height: 43px;
        border-width: 1px;
        background: none;
        border-radius: 3px;
        border: 1px solid #c07932;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s;
    }

    .btn:hover {
        background: #c07932;
        transition: all, 0.9s;
    }

    #location .l_img:nth-of-type(1) {
        background-image: url('../img/London.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #location .l_img:nth-of-type(2) {
        background-image: url('../img/NEWYORK.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #location .l_img:nth-of-type(3) {
        background-image: url('../img/Rome.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    /*메뉴소개*/
    #demo {
        width: 100%;
        height:2254px;
        background-image: url('../img/s2cover.jpg');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;

    }

    #demo .txtbox {
        width:90%;
        height:610px;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;
    }

    #demo .txtbox .arrow-top {
        width: 86px;
        height: 34px;
        text-align: center;
        background-image: url('../img/icon.png');
    
        

    }

    #demo .txtbox h1 {
        text-align: center;
        font-size: 18px;
        font-family: Noto Serif KR;

    }

    #demo .txtbox h3 {
        text-align: center;
        font-size: 40px;
        font-family: Noto Serif KR;
 
    }

    #demo .txtbox p {
        text-align: center;
        letter-spacing: 0.035em;
        line-height: 28px;
        font-size: 13px;

    }

    #demo .txtbox .box {
        width:90%;
        height:auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
 
        
    }

    #demo .txtbox .box .icon {
        width: 65px;
        height: 65px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
    }

    /*폰트 어썸사용시 클라스명 fas지우고입력*/
    #demo .txtbox .box .icon .fa-hamburger {
        font-size: 38px;
    }

    #demo .txtbox .box .icon .fa-hamburger:hover {
        color: #c07932;
    }

    #demo .txtbox .box .icon .fa-pizza-slice {
        font-size: 38px;
    }

    #demo .txtbox .box .icon .fa-pizza-slice:hover {
        color: #c07932;
    }

    #demo .txtbox .box .icon .fa-ice-cream {
        font-size: 38px;
    }

    #demo .txtbox .box .icon .fa-ice-cream:hover {
        color: #c07932;
    }

    #demo .txtbox .arrow-bottom {
        width: 86px;
        height: 34px;
        background-image: url('../img/icon2.png');
        margin-top: -20px;
    }

    /*메뉴*/
    #demo > .menu {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /*overflow 여기적용*/
    #demo .menu .menu1 {
        width:80%;
        height: 430px;
        background-image: url('../img/fish.jpg');
        overflow: hidden;
        background-size: cover;
    }

    #demo .menu .menu1 .explain {
        width: 100%;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu1 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu1 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 170px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu1 .explain:hover {
        margin-top: 230px;
    }

    #demo .menu .menu2 {
        width: 80%;
        height: 430px;
        background-image: url('../img/Cocktail.jpg');
        overflow: hidden;
        background-size: cover;
    }

    #demo .menu .menu2 .explain {
        width: 100%;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu2 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu2 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 150px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu2 .explain:hover {
        margin-top: 230px;
    }

    #demo .menu .menu3 {
        width: 80%;
        height: 430px;
        background-image: url('../img/bugger.jpg');
        overflow: hidden;
        background-size: cover;
        background-position: center;
        margin-bottom:50px;
    }

    #demo .menu .menu3 .explain {
        width: 100%;
        height: 300px;
        background: #c07932;
        opacity: 0.9;
        margin-top: 380px;
        transition: .5s;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #demo .menu .menu3 .explain span {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 9px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #demo .menu .menu3 .explain p {
        background: black;
        opacity: 0.8;
        margin-top: 0px;
        height: 150px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
    }

    /*250만큼 탑에서 내려오기*/
    #demo .menu .menu3 .explain:hover {
        margin-top: 230px;
    }

    /*today menu*/
    #today_menu {
        width: 100%;
        height: 1200px;
        background-image: url('../img/s3.jpg');
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #today_menu .container {
        width: 100%;
        height: 516px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:center;
    }

    #today_menu .container nav {
        width:90%;
        height: 36px;
        display: flex;
        align-items: center;
    }

    #today_menu .container .menu {
        width:90%;
        height: 127px;
        display: flex;
    }

    #today_menu .container .menu .img {
        width: 150px;
        height: 127px;
        background-image: url('../img/Sendwitch.jpg');
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #today_menu .container .menu .img:hover .fa-search-plus{
        display:block;
        width:100%;
        height: 127px;
        background-color: rgba(34, 41, 54, 0.5);
        opacity: 0.8;
        transition: all, 0.9s ;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .fa-search-plus {
        font-size: 35px;
        color: #fff;
        display: none;
    }

    #today_menu .container .menu .price {
        width: 430px;
        height: 127px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #today_menu .container .menu .price h4 {
        font-size: 16px;
        font-family: Noto Serif KR;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #today_menu .container .menu .price p {
        font-family: Noto Serif KR;
        font-size: 13px;
        color: #616161;
        margin-left: 20px;
    }

    #today_menu .container nav ul li {
        float: left;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }

    #today_menu .container nav ul li a {
        color: #c9c9c9;
        display: block;
    }

    #today_menu .container nav ul li a:hover {
        color: #fff;
        transition: all, 0.9s;
    }


    #today_menu > .textbox {
        width:90%;
        height: 401px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
    }

    #today_menu > .textbox:hover {
        transition: all 1s;
        -webkit-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

    #today_menu .textbox h3 {
        font-size: 45px;
        color: #fff;
        font-family: Noto Serif KR;
    }

    #today_menu .textbox span {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.87);
    }

    #today_menu .textbox button {
        width: 171px;
        height: 46px;
        background: #c07932;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
    }

    #today_menu .textbox button:hover {
        background: #040e24;
        transition: all, 0.9s;
    }

    #food_colection {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #010c24;
    }

    #food_colection .imgbox {
        width:100%;
        height:334px;
        background-size: cover;
        background-color: #010c24;
        opacity: 0.65;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #food_colection .imgbox:hover .txt_hover{
        opacity: 1;
    }

    .txt_hover{
        width:90%;
        height:271px;
        border:1px solid #c07932;
        background-color: rgba(34, 41, 54, 0.5);
        opacity: 0.8;
        transition: all, 0.9s ;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        opacity:0;
    }
    .txt_hover h1 {
        color: #fff;
        transition: 0.5s;
        font-family: Noto Serif KR;
        font-size: 30px;
   
    }

    .txt_hover h2 {
        color: #fff;
        font-size: 18px;
        text-align: center;
        color: rgba(255, 255, 255, 0.87);
        font-family: Noto Serif KR;
        
    }

    /*our-menu*/
    #our-menu {
        width: 100%;
        height:auto;
        background-image: url('../img/s5.jpg');
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    #our-menu h1 {
        font-family: Noto Serif KR;
        margin-top: 50px;
        margin-bottom:30px;
      
    }

    #our-menu .menubox {
        width:90%;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }

    #our-menu .menubox .second {
        width:90%;
        display:none;

 
    }

    #our-menu .menubox .second ul {
        

    }

    #our-menu .menubox .second ul li {
        display:flex;
    }

    #our-menu .menubox .second ul li a {
        font-size: 15px;
        font-family: Noto Serif KR;
        color: black;
    }

    #our-menu .menubox .second ul li a:hover {
        color: #bf6409;
        transition: all, 0.9s;
    }

    #our-menu .menubox .wrap {
        width: 100%;
        height:auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #our-menu .menubox .wrap .food {
        height:150px;
        display: flex;
        justify-content:space-around;
    }

    #our-menu .menubox .wrap .food .img {
        width: 90px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #our-menu .menubox .wrap .food .img img {
        width: 90px;
        height: 60px;
    }

    #our-menu .menubox .wrap .food .img:hover {
        background-color: rgba(34, 41, 54, 0.5);
        opacity: 0.7;
        transition: all, 0.9s;
    }

    #our-menu .menubox .wrap .food .dots-box h3 {
        display: flex;
        justify-content: space-between;
        font-size: 20px;

    }
    
    #our-menu .menubox .wrap .food .dots-box h4{
        color:#c07932;
    }

    #our-menu .menubox .wrap .food .dots-box p {
        font-size: 15px;
        color: #333;
        margin-left: 15px;
        
    }

    .btn {
        width: 206px;
        height: 44px;
        background: #bf6409;
        margin-bottom:50px;
    }

    .btn:hover {
        background: #040e24;
        transition: all, 0.9s;
    }
    .box{
        margin-left:15px;
    }
    /*Section7 레스토랑 예약창*/ 
#s7-reservation {
    width:100%;
    height:1500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

#s7-reservation h1 {
    color: #ffffff;
    font-size:40px;
    font-weight: normal;
    text-align: center;
    
    font-weight: 400;

    font-family:Lora;
    font-weight:normal;
    font-family: Noto Serif KR;
    margin-bottom:20px;
}

#s7-reservation h2 {
    color:rgba(255,255,255,0.87);
    font-size:20px;
    text-align: center;
    line-height: 24px;
    font-family: Josefin Sans;
    font-weight: 300;
 
    margin-bottom: 20px;
    

}

#s7-reservation>#r_box {
    width:90%;
    height:auto;
    background-repeat: no-repeat;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
   
}

#s7-reservation>#r_box>.selectbox{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
#s7-reservation>#r_box>.selectbox h4{
    font-size:14px;
    margin-top:50px;
    margin-bottom:20px;
    
}
#s7-reservation>#r_box>.selectbox span{
    font-size: 15px;
    margin:0px 70px
    
}
#s7-reservation>#r_box>.selectbox button{
    width:100%;
    height: 75px;
    border: 1px solid #666;
    background-color: #fff;
    margin: 10px 0px;
    color:black;
}
#s7-reservation>#r_box>.selectbox>button h5{
    font-size: 14px;
    display: inline;
    margin: 0px 0 0 30px;   
}
#s7-reservation>#r_box>.selectbox>.btn{
    width:80%;
    height:75px;
    border: 1px solid #666;
    background-position:8px;
    background-repeat: no-repeat;    
}

#s7-reservation>#r_box>.numberbox{
    width:80%;
    height:60px;
    margin:30px 0px;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}
#s7-reservation>#r_box>.numberbox h4{
    font-size:14px;
    text-transform:uppercase;
    margin:0px 20px;
    margin-bottom:20px;
    
}
#s7-reservation>#r_box>.numberbox ul{
    padding: 0;
    list-style: none;
    
} 

#s7-reservation>#r_box>.numberbox ul a {
    font-family: arial;
    font-size: 14px;
    color:black;
    font-weight: normal;
    text-decoration:none;
}

#s7-reservation>#r_box>.numberbox li {
    float: left;
    padding:0px 15px;
    text-decoration: none;
    color: white;
}
#s7-reservation>#r_box>.detailbox{
    width:100%; 
    height:800px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#s7-reservation>#r_box>.detailbox>.box{
    width:90%;
    height:690px;
    display:flex;
    flex-direction:column;
    position:relative;
    top:20px; left:0;
}
#s7-reservation>#r_box>.detailbox>.box>.form{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;

}
#s7-reservation>#r_box>.detailbox>.box>.form label{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000; 
    margin:0px 15px;
}
#s7-reservation>#r_box>.detailbox>.box>.form>input{
    height:60px;
    padding-left: 25px;
    padding-right: 25px;
    background: #fcfcfc;
    color: #454545;
    border: 1px solid #e5e5e5;
    margin:5px 15px;
    
}

#s7-reservation>#r_box>.detailbox>.box>.form>textarea{
    height:100px;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
    padding: 22px 25px;
    margin:10px 0px;
    color: #454545;
    font-size: 12px;
    margin:5px 15px;
    
}
#s7-reservation>#r_box>.detailbox button{
    width:70%;
    height:60px;
    background-color:#c07932;
    border:none;
    border-radius: 5px;
    color:#fff;
}  
/*footer*/    
footer{
    width:100%;
    height:auto;
    background-color:#010c24;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer>.logo{
    width:121px;
    height:127px;
    background-color:#010c24;
    padding:20px 0px;
}

footer>.logo img{
   width:121px;
   height:127px; 
}
footer>.tbox{
    width:100%;
    height:750px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top:40px;
    justify-content:center;
}
footer>.tbox>.information{
    width:100%;
    height:182px;
    float: left;
    margin:0;
}
footer>.tbox>.information:nth-child(2){    
    width:100%;
    height:20%;    
}   
footer>.tbox>.information:nth-child(3){    
    width:100%;
    height:25%;    
}
footer>.tbox>.information:nth-child(4){    
    width:100%;
    height:20%;    
}       
footer>.tbox>.information h3{
    font-size:20px;
    color:#c07932;
    margin:0px;
    text-align:center;
}
footer>.tbox>.information p{
    font-size:14px;
    color:#c4c4c4;
    text-align:center;
    line-height:24px;
}
footer>.Social{
    width:100%; 
    height:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#010819;
    
}
footer>.Social p{
    font-size:16px;
    color:#c07932;
    margin-top:30px;
}

}