@charset "UTF-8";

@media (min-width:1100px) {

    body {
        background-color:#000;
    }

    /*slider*/

    #slider {
        width: 100%;
        height: 1000px;
        background-image: url('../img/10.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;

    }

    #slider .txtbox {
        width: 557px;
        height: 305px;
        margin-left: -500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #slider .txtbox span {
        font-size: 20px;
        color: #1ED760;
        font-weight: 700;
    }

    #slider .txtbox h2 {
        color: #ffffff;
        font-size: 75px;
        font-weight: 800;
    }

    #slider .txtbox p {
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        line-height: 26px;
    }

    #slider .txtbox button {
        width: 203px;
        height: 46px;
        background-color: #1ED760;
        font-size: 16px;
        color: #ffffff;
        font-weight: 700;
        border: none;
    }

    #slider .txtbox button:hover {
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    }

    .t_wrap {
        width: 550px;
        height: 115px;
        display: flex;
        justify-content: space-between;
        margin-left: -510px;
        margin-top: 40px;
    }

    .timebox {
        width: 115px;
        height: 115px;
        background-color: black;
        color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .timebox span {
        font-size: 35px;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .timebox p {
        color: #607290;
        font-size: 20px;
    }

    .scroll {
        width: 50px;
        height: 50px;
        position: relative;
        top: 200px;
        left: 900px;
        display: block;

    }

    .fa-arrow-circle-up {
        font-size: 30px;
    }

    .fa-arrow-circle-up:hover {
        color: #1ED760;
    }

    section {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: left;
    }

    /*section>#s1-about*/
    section > #s1-about {
        width: 100%;
        height: 618px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section > #s1-about > .imgbox {
        width: 555px;
        height: 418px;
        display: block;
    }

    section > #s1-about > .imgbox img {
        width: 555px;
        height: 418px;
    }

    section > #s1-about > .textbox {
        width: 555px;
        height: 386px;
        margin-left: 80px;
        margin-top: 4px;
    }

    section > #s1-about > .textbox span {
        color: #e32879;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    section > #s1-about > .textbox h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 700;
        margin-top: 14px;
    }

    section > #s1-about > .textbox p {
        font-size: 16px;
        font-family: "Libre Franklin", sans-serif;
        color: #b3b3b3;
        font-weight: 400;
        line-height: 26px;
        margin-top: 14px;
    }

    section > #s1-about > .textbox button {
        width: 143px;
        height: 46px;
        border: none;
        font-size: 16px;
        color: #ffffff;
        font-weight: 700;
        margin-top: 24px;
        background-color: #1ED760;
    }

    section > #s1-about > .textbox button:hover {
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    }

    /*section>#s2-service*/
    section > #s2-service {
        width: 100%;
        height: 587px;
        background: #000;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section > #s2-service span {
        color: #e32879;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    section > #s2-service h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 600;
        margin-top: 14px;
        margin-bottom: 55px;
    }

    section > #s2-service > .i-box {
        width: 1110px;
        height: 325px;
        display: flex;
        justify-content: space-between;
    }

    section > #s2-service > .i-box > .box {
        width: 360px;
        height: 325px;
        background:none !important;
        border:1px solid #ddd;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section > #s2-service > .i-box > .box:hover {
        border-bottom: 3px solid #1ED760;
    }

    section > #s2-service > .i-box > .box > .icon-img {
        width: 53px;
        height: 53px;
        background-color: #fff;
        background-size: cover;
        border-radius: 50%;
    }

    section > #s2-service > .i-box > .box > .icon-img:hover {
        border-radius: 50%;
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    }

    section > #s2-service > .i-box > .box h4 {
        font-size: 22px;
        color: #ffffff;
        font-weight: 500;
        margin-top: 33px;
        margin-bottom: 25px;
    }

    section > #s2-service > .i-box > .box p {
        font-size: 16px;
        font-family: "Libre Franklin", sans-serif;
        color: #b3b3b3;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
        text-align: center;
    }

    /*section>#s3-top4*/
    section > #s3-top4 {
        width: 100%;
        height: 1080px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    section > #s3-top4 span {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    section > #s3-top4 h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 600;
        margin-top: 14px;
        margin-bottom: 80px;
    }

    section > #s3-top4 > .p-imgbox {
        width: 80%;
        height: 786px;
        display: flex;
        margin: 0 auto;
    }

    section > #s3-top4 > .p-imgbox > .img1 {
        width: 785px;
        height: 786px;
        background-color: #191919;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    section > #s3-top4 > .p-imgbox > .img1 > .pi-hover {
        width: 170px;
        height: 66px;
        display: flex;
        justify-content: space-between;
    }

    section > #s3-top4 > .p-imgbox > .img1 > .pi-hover > .iconbox {
        width: 75px;
        height: 66px;
        background-color: #191919;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section > #s3-top4 > .p-imgbox > .img1 > .pi-hover > .iconbox:hover {
        transition: all 0.5s;
        cursor: pointer;
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    }

    section > #s3-top4 > .p-imgbox > .box {
        width: 785px;
        height: 786px;
        background-color: rebeccapurple;
        display: flex;
        flex-wrap: wrap;
    }

    section > #s3-top4 > .p-imgbox > .box > .img2 {
        width: 785px;
        height: 393px;
        background-color: orchid;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
    }

    section > #s3-top4 > .p-imgbox > .box > .img2 > .pi-hover {
        width: 170px;
        height: 66px;
        display: flex;
        justify-content: space-between;
    }

    section > #s3-top4 > .p-imgbox > .box > .img2 > .pi-hover > .iconbox {
        width: 75px;
        height: 66px;
        background-color: #191919;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    section > #s3-top4 > .p-imgbox > .box > .img2 > .pi-hover > .iconbox:hover {
        transition: all 0.5s;
        cursor: pointer;
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    }

    section > #s3-top4 > .p-imgbox > .box > .img3 {
        width: 392px;
        height: 393px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section > #s3-top4 > .p-imgbox > .box > .img3 > .pi-hover {
        width: 170px;
        height: 66px;
        display: flex;
        justify-content: space-between;
    }

    section > #s3-top4 > .p-imgbox > .box > .img3 > .pi-hover > .iconbox {
        width: 75px;
        height: 66px;
        background-color: #191919;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section > #s3-top4 > .p-imgbox > .box > .img3 > .pi-hover > .iconbox:hover {
        transition: all 0.5s;
        cursor: pointer;
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    }

    section > #s3-top4 > .p-imgbox > .box > .img4 {
        width: 393px;
        height: 393px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section > #s3-top4 > .p-imgbox > .box > .img4 > .pi-hover {
        width: 170px;
        height: 66px;
        display: flex;
        justify-content: space-between;
    }

    section > #s3-top4 > .p-imgbox > .box > .img4 > .pi-hover > .iconbox {
        width: 75px;
        height: 66px;
        background-color: #191919;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section > #s3-top4 > .p-imgbox > .box > .img4 > .pi-hover > .iconbox:hover {
        transition: all 0.5s;
        cursor: pointer;
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
        box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    }

    /*section>#s4-experience*/
    section > #s4-experience {
        width: 100%;
        height: 450px;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section > #s4-experience > .textbox {
        width: 545px;
        height: 300px;
        display: block;
        margin-top: 100px;
    }

    section > #s4-experience > .textbox span {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    section > #s4-experience > .textbox h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 600;
        margin-top: 14px;
    }

    section > #s4-experience > .textbox button {
        width: 143px;
        height: 46px;
        background-color: #1ED760;
        color: rgb(255, 0, 0);
        border: none;
        margin-top: 40px;
        font-size: 16px;
        color: #ffffff;
        font-weight: 700;
    }

    section > #s4-experience > .textbox button:hover {
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    }

    section > #s4-experience > .box {
        width: 620px;
        height: 292px;
        margin-top: 100px;
    }

    section > #s4-experience > .box > .textbox2 {
        width: 620px;
        height: 116px;
        background-color: #000;
        margin-bottom: 50px;
        display: flex;
    }

    section > #s4-experience > .box > .textbox2 h4 {
        font-size: 22px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 12px;
    }

    section > #s4-experience > .box > .textbox2 p {
        font-size: 16px;
        font-family: "Libre Franklin", sans-serif;
        color: #b3b3b3;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
    }

    section > #s4-experience > .box > .textbox2 > .number-count {
        width: 129px;
        height: 50px;
        line-height: 50px;
    }

    section > #s4-experience > .box > .textbox2 > .number-count span {
        font-size: 48px;
        color: #1ED760;
    }

    section > #s4-experience > .box > .textbox2 > .wrap {
        width: 555px;
        height: 112px;
        margin-left: 70px;
        background: #000;
    }

    /*section>#s5-coments*/
    section > #s5-coments {
        width: 100%;
        height: 404px;
        background: #000;
        display: flex;

    }

    /*section 5*/
    #s5 {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #s5 .wrap {
        width: 1070px;
        height: 154px;
        margin: 0 auto;
        overflow: hidden;
    }

    #s5 .wrap_box {
        width: 1850px;
        height: 154px;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        align-items: center;
    }

    #s5 .box {
        width: 525px;
        height: 170px;
        padding: 40px 20px;
        margin: 0 15px 0 0px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #s5 .box .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    #s5 .box .circle img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .textbox {
        width: 317px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .textbox h4 {
        font-size: 16px;
        color: #ffffff;
        margin: 0;

    }

    .textbox span {
        margin: 0;
        color: #1ED760;
        font-size: 12px;
    }

    .textbox p {
        margin: 0;
        font-size: 14px;
        color: #b3b3b3;
    }

    /*prev and next button*/

    #s5 #preview_wrap {
        width: 100%;
        height: 30px;
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #s5 #preview_wrap > .next {
        width: 13px;
        height: 13px;
        background-color: #808080;
        border-radius: 30px;
        margin: 0 5px 0 0;
    }

    #s5 #preview_wrap > .next:hover {
        background-color: white;
    }

    #s5 #preview_wrap > .pre {
        width: 13px;
        height: 13px;
        background-color: #808080;
        border-radius: 30px;
        margin: 0 5px 0 0;
    }

    #s5 #preview_wrap > .pre:hover {
        background-color: white;
    }

    /*#s6-identity*/
    section > #s6-identity {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
    }

    section > #s6-identity h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;

    }

    section > #s6-identity p {
        color: #ffffff;
        margin-bottom: 30px;
        text-align: center;
        line-height: 23px;
        font-size:18px;

    }

    section > #s6-identity button {
        width: 166px;
        height: 46px;
        background-color: #1ED760;
        color: rgb(255, 0, 0);
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: 700;
    }

    section > #s6-identity button:hover {
        background-color: #1ED760;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
        box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    }

    /*#s7-ourteam*/
    section > #s7-ourteam {
        width: 100%;
        height: 797px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    section > #s7-ourteam span {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px
    }

    section > #s7-ourteam h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 600;
        margin-top: 14px;
    }

    section > #s7-ourteam > .box {
        width: 1110px;
        height: 435px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    section > #s7-ourteam > .box > .img {
        width: 360px;
        height: 435px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

    }

    section > #s7-ourteam > .box > .img > .pbox {
        width: 320px;
        height: 400px;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;

    }

    section > #s7-ourteam > .box > .img > .pbox:hover {
        opacity: 1.0;
        transition: all 1.0s;
        cursor: pointer;
    }

    section > #s7-ourteam > .box > .img > .pbox p {
        font-size: 16px;
        font-family: "Libre Franklin", sans-serif;
        color: #b3b3b3;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
    }

    section > #s7-ourteam > .box > .img > .pbox h4 {
        font-size: 22px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 4px;
        text-align: center;
    }

    section > #s7-ourteam > .box > .img > .pbox span {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 10px;
    }

    section > #s7-ourteam > .box > .img > .pbox > .iconbox {
        width: 200px;
        height: 42px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    section > #s7-ourteam > .box > .img > .pbox > .iconbox > .box {
        width: 40px;
        height: 42px;
        background-color: #2222;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition-duration: .5s;
        transform: rotateX(45deg);
        box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
        cursor: pointer
    }

    section > #s7-ourteam > .box > .img > .pbox > .iconbox > .box:hover {
        background-color: #1ED760;
        transform: scale(1.2);
        box-shadow: none;
    }

    /*#s8-event*/
    section > #s8-event {
        width: 100%;
        height: 752px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #212529;
    }

    section > #s8-event span {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    section > #s8-event h2 {
        font-size: 45px;
        color: #ffffff;
        font-weight: 700;
        margin-top: 14px;
    }

    section > #s8-event > .wrap {
        width: 1210px;
        height: 420px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    section > #s8-event > .wrap > .box {
        width: 585px;
        height: 420px;
        display: flex;
    }

    section > #s8-event > .wrap > .box > .img {
        width: 262px;
        height: 420px;
        background-size: cover;
        background-position: center;
    }

    section > #s8-event > .wrap > .box .txt {
        width: 323px;
        height: 420px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    section > #s8-event > .wrap > .box > .img img {
        width: 262px;
        height: 390px;
        background-size: cover;
        background-position: center;
    }


    .txt .calender {
        width: 90%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        float: left;
    }

    .txt .calender ul li {
        float: left;
        padding: 0px 5px;
    }

    section > #s8-event > .wrap > .box > .txt h2 {
        width: 90%;
        font-size: 24px;
        margin-top: 20px;
        color: #fff;

    }

    section > #s8-event > .wrap > .box > .txt p {
        width: 90%;
        font-size: 16px;
        color: #b3b3b3;
        font-weight: 400;
        line-height: 26px;
    }

    section > #s8-event > .wrap > .box > .txt .profile {
        width: 90%;
        height: 53px;
        display: flex;
    }

    section > #s8-event > .wrap > .box > .txt .profile .img {
        width: 50px;
        height: 53px;
    }

    section > #s8-event > .wrap > .box > .txt .profile .name {
        width: 180px;
        height: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    .profile .name h5 {
        font-size: 18px;
        color: #fff;
    }

    .profile .name span {
        font-size: 12px;
        color: #fff;
    }

    section > #s8-event > .wrap > .box > .text > .box {
        width: 292px;
        height: 24px;
        display: flex;
        justify-content: center;
    }

    section > #s8-event > .wrap > .box > .text > .box > .date {
        width: 21px;
        height: 24px;
        margin-left: 20px;
    }

    section > #s8-event > .wrap > .box > .text > .box span {
        font-size: 10px;
        font-family: "Libre Franklin", sans-serif;
        padding: 5px 10px;
    }

    section > #s8-event > .wrap > .box > .text > .wrap2 {
        width: 292px;
        height: 53px;
        margin-top: 30px;
        display: flex;
    }

    section > #s8-event > .wrap > .box > .text > .wrap2 h5 {
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
    }

    section > #s8-event > .wrap > .box > .text > .wrap2 > .img {
        width: 50px;
        height: 53px;
        border-radius: 50px;
        margin-left: 25px;
        margin-right: 15px;
    }

    section > #s8-event > .wrap > .box > .text > .wrap2 > .img img {
        width: 50px;
        height: 53px;
        border-radius: 50px;
    }

}