/* common */
.main-title {
    text-align: center;
    font-size: 3vw;
    color: #E2766A;
}

.desc {
    text-align: center;
    font-size: 1vw;
    color: #988D8B;
}

/* H-Comment */
.h-comment {
    width: 16vw;
    padding: 30px;
    background: #E2766A;
    color: #fff;
    font-size: 0.85vw;
    position: absolute;
    left: 15px;
    top:0;
    font-family: 'Brandon Grotesque Light', sans-serif;
    animation:fadeInRight 1s both 1s;
}

.h-comment .swiper-slide {
    height: 100%;
}

.h-comment::before {
    content: "“";
    position: absolute;
    top: -5px;
    left: 20px;
    font-size: 3vw;
}

.h-comment::after {
    content: "”";
    position: absolute;
    bottom: -15px;
    right: 53px;
    font-size: 3vw;
}

/* Main Visual */
.main-visual .swiper-slide img{
    width: 100%;
}

.main-visual .container-fix {
    position: relative;
}

.main-visual .swiper-container {
    padding-left: 350px;
}

.main-visual .swiper-wrapper {
    position: relative;
}

/* Promotion */
.promotion {
    background: #F1E6DA;
}

.scrolling-text{
    margin: 0;
    padding: 0;
    height: 100vw;
    overflow-x: hidden;
}

.promotion h1 {
    margin: 0;
    font-size: 180px;
    color:#E2766A;
    letter-spacing: 10px;
    font-family: 'Ramaraja', sans-serif;    
    font-weight: lighter;
}

.promotion span {
    font-size: 10vw;
    display: inline-block;
    animation:  mover 4s linear infinite;
    font-family: 'Ramaraja', sans-serif; 
    color: #FBA48E;  
}

@keyframes mover{
    0% {
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50% {
        text-shadow: 0 0 30px rgba(0,0,0,0);
        transform: translateY(40px);
    }

    100% {
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
}

.promotion span:nth-child(1) {
    animation-delay: 0.5s;
}

.promotion span:nth-child(2) {
    animation-delay: 1s;
}

.promotion span:nth-child(3) {
    animation-delay: 1.5s;
}

.promotion span:nth-child(4) {
    animation-delay: 2s;
}

.promotion span:nth-child(5) {
    animation-delay: 2.5s;
}

.promotion span:nth-child(6) {
    animation-delay: 3s;
}

.promotion span:nth-child(7) {
    animation-delay: 3.5s;
}

.promotion span:nth-child(8) {
    animation-delay: 4s;
}

.promotion span:nth-child(9) {
    animation-delay: 4.5s;
}

.promotion h1:last-of-type {
    color: #E2766A;
}

.promotion h1:first-child img{
    float: right;
    padding-bottom: 50px;
}

.promotion .img-wrap {
    display: flex;
    justify-content: center;
}

.promotion .img-wrap>.img-box {
    margin-right: 70px;
    width: 32vw;
    height: 40vw;
}

.promotion .img-wrap>.img-box img {
    width: 100%;
}

.promotion .img-wrap>.img-box:last-child {
    margin-top: 80px;
}

.promotion .container-fix {
    display: flex;
    flex-direction: column;
}

.promotion .icon-box {
    position: relative;
    left: 911px;
    top: -225px;
}

.promotion .icon-box img {
    width: 153px;
}

.promotion .slider-thumb{
    position: relative;
    z-index: 20 !important;
	content: "";
	width: 27vw;
	height: 27vw;
	background-image: url(../../images/slider-thum01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
    margin-right: 50px;
}
@keyframes sliderShape{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

.promotion .slider-thumb:last-child {
    background-image: url(../../images/slider-thum02.jpg);
}

.promotion .text-box.bottom span {
    color: #E2766A;
}

.promotion .hover-me {
    width: 3vw;
    height: 3vw;
    position: relative;
    left: -93px;
    top: -19px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url(../../images/info-tag-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.promotion .hover-me p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.promotion .text-box.bottom {
    text-align: right;
}

.promotion .hover-me:hover {
    background: #C7E1DA;
}

.promotion .hover-me:hover > .pop {
    opacity: 1;
    width: 9vw;
    height: 9vw;
}

.promotion .hover-me .pop {
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: -20px;
    background: #ffff;
    border-radius: 100%;
    z-index: -1;
    margin: auto;
    transition: all 0.3s ease;
    background-image: url(../../images/hover-img01.png);
    background-size: cover;
}

.promotion .hover-me .pop > p {
    color: #353535;
    font-size: 20px;
}


/* Experences */
.experences {
    width:100%;
    background:#f7f5f5;
}

.experences .swiper-container {
    position:relative;
}

.experences .swiper-slide {
    display:flex;
    align-items: center;
    justify-content:center;
    transition:all 200ms linear;
    transform: scale(0.5);
    border-radius: 50%;
}

.experences .swiper-slide img {
    width: 100%;
}

.experences .swiper-slide-active{
    transform: scale(0.9);
    position: relative;
}

.experences .swiper-slide-active {
    display: block;
}

/* Live */
.live-wrap .text-box {
    width: 25%;
}

.live-wrap .img-wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.live-wrap .img-wrap img {
    width: 48%;
}

.live-wrap .desc {
    text-align: left;
}

.live-wrap .img-wrap img:last-child {
    padding-right: 0;
}

.live-wrap .swiper-wrapper {
    width: 100%;
}

.live-wrap .swiper-slide {
    display: flex;
    justify-content: space-between;
}

.live-wrap .text-box {
    margin-right: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.live-wrap .text-box h2 {
    font-size: 3vw;
    line-height: 1.1;
    margin: 0;
    color: #E2766A;
    letter-spacing: -3px;
    line-height: 63px; 
    padding-bottom: 10px;;
    text-align: left;
}

.live-wrap .swiper-pagination {
    position: relative;
    top: 50px;

}

.live-wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #FAABA2;
}

.live-wrap .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: 2px;
}

/* Best Seller */
.best-seller { 
	width: 100%;
	overflow: hidden; 
	animation: fadeInLeft 1s both 1s;
    background: #f7f5f5;
}

.best-seller .swiper-container {
	width: 100%;
	overflow: visible;
    width:100%;
	position: relative;
}

.best-seller h2 {
    padding-bottom: 40px;
}

.best-seller h2,.best-review h2 {
    text-align: center;
    font-size: 3vw;
    margin: 0;
    color: #E2766A;
}

.best-seller .swiper-button-prev,
.best-seller .swiper-button-next {
	width:50%;
	height: 100%;
	top: 0;
	margin: 0;
	transition: cursor 0.3s;
}

.best-seller .swiper-button-prev {
	position: absolute;
	left: 0;
    background: none;
	cursor: url('../../images/prev.png') 32 32,
    auto;
}

.best-seller .swiper-button-next {
	position: absolute;
	right: 0;
    background: none;
	cursor: url('../../images/next.png') 32 32,
	auto;
}

.best-seller .swiper-slide {
    width: 21vw;
}

.best-seller .swiper-slide img{
    width: 100%;
    height: 100%;
}

.best-seller .lank {
    width: 1.8vw;
    height: 1.8vw;
    line-height: 1.8vw;
    background: #E2766A;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.7vw;
}

.best-seller .info {
    padding: 15px 0;
}

.best-seller .info .discount {
    color: #E2766A;
    padding-right: 10px;
    font-size: 0.9vw;
}

.best-seller .info .won {
    font-weight: bold;
    font-size: 0.9vw;
}

.best-seller .info .title {
    padding: 3px 0;
    font-size: 0.9vw;
}

.best-seller .info .grade {
    color: #988D8B;
    font-size: 0.8vw;
}

.best-seller .swiper-pagination {
    position: relative;
    padding: 30px 0; 
}

.best-seller .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #D9D9D9;
}

.best-seller .swiper-pagination-bullet-active {
    background: #E2766A;
}

/* Best-Review */

.best-review .tab-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.best-review .tab-title li {
    list-style: none;
    float: left;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size:20px;
}

.best-review .tab-title li.on {
    font-weight: bold;
    color: #DDC5C5;
}

.best-review .tab-cont {
    clear: both;
    height: auto;
}

.best-review .best-review .tab-cont div {
    display: none;
    text-align: center;
}

.best-review .tab-cont div.on {
    display: block;
}

.best-review div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.best-review .sns ul li a{
    font-size: 16px;
}

.best-review div ul li img{
    width:300px;
    height: 300px;
}

.best-review  .review {
    display: none;
}


/************** 반응형 **************/

/* PC */

@media (max-width:1570px){

    .h-comment {
        display: none;
    }

    .promotion .slider-thumb {
        background-size: cover;
        width: 40vw;
        height: 40vw;
        margin: 0;
    }

    .live-wrap .text-box h2 {
        padding-bottom: 0;
    }

}

/* MOBILE */
@media screen and (max-width: 991px) {

    /* Common */
    .main-title {
        font-size: 8vw !important;
    }

    .desc {
        font-size: 3.3vw;
    }

    /* Promotion */
    .promotion span {
        font-size: 14vw;
    }


    .promotion .hover-me {
        width: 6vw;
        height: 6vw;
        left: 0;
        top: 10px;
        background-size: cover;
        background-position: center;
    }

    .promotion .hover-me:hover > .pop {
        display: none;
    }

    /* Experences */
    .experences h1 {
        font-size: 4vw;
    }

    /* Live */
    .live-wrap .swiper-slide {
        flex-direction: column;
    }

    .live-wrap .text-box {
        width: 100%;
    }

    .live-wrap .img-wrap {
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .live-wrap .img-wrap img {
        width: 100%;
        margin-top: 30px;
    }

    /*Best seller */
    .best-seller .lank {
        width: 4.8vw;
        height: 4.8vw;
        line-height: 4.8vw;
        font-size: 3vw;
    }

    .best-review .tab-title li {
        font-size: 4vw;
    }

    .best-seller .info .grade {
        color: #988D8B;
        font-size: 3vw;
    }
    
    .best-seller .info .discount {
        font-size: 3vw;
    }

    .best-seller .info .won {
        font-size: 3vw;
    }

    .best-seller .info .title {
        font-size: 2.7vw;
    }

}