/* footer */

footer {
    box-sizing: border-box;
    flex-shrink: 0;
    background: #5178A1;
    display: flex;
    flex-direction: column;
}

footer .logo{
    font-family: 'Ramaraja', serif;
    font-weight: 400;
    font-size: 3vw;
    line-height: 128px;
    letter-spacing: 0.02em;
    color: #E2766A;
    margin-right: 23px;
    transform: rotate(-90deg);
}

footer .footer-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #ddd;
    padding: 60px;
    font-size:15px;
}

footer .util-menu {
    display: flex;
    margin-bottom: 12px;
}

footer .util-menu li {
    position: relative;
}

footer .util-menu li a {
    padding-right: 36px;
    color: #fff;
    font-size: 0.8vw;
    font-weight: 400;
}

footer .util-menu li:not(:last-of-type)::after {
    content: "|";
    position: absolute;
    right: 17px;
    top: 1px;
    color: #fff;
    font-size: 0.7vw;
}

footer .info {
    display: flex;
    flex-direction: column;
    line-height: 19px;
    font-weight: 400;
}

footer .info ul {
    display: flex;
    margin: 0;
}

footer .info ul li a {
    padding-right: 13px;
    font-size: 0.8vw;
}


/************** 반응형 **************/

/* 모바일 */
@media screen and (max-width: 991px) {

    footer .footer-inner {
        padding: 15px;
        flex-direction: column;
        align-items: baseline;
    }

    footer .logo {
        font-size: 7vw;
        transform: unset;
        line-height: normal;
    }

    footer .info ul {
        flex-direction: column;
        font-size: 2vw;
    }
    
}

