@charset "UTF-8";

@media (min-width:1100px) {

    /*header nav_(햄버거)*/
    .a {
        display: none;
        cursor: pointer;
    }

    .b {
        display: block;
        cursor: pointer;
    }

    .c {
        display: none;
        cursor: pointer;
    }

    /*scroll bar*/

    #scroll_bar {
        position: fixed;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: #967844;
        border-radius:50%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        z-index: 10;
    }

    #scroll_bar i {
        width: 100%;
        height: 100%;
        font-size:13px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #scroll_bar:hover {
        opacity: 1;
    }

    /*header*/

    header {
        width: 100%;
        padding:10px 0px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s all ease-in-out;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 100;
        background: none;
    }

    header #navbox {
        width: 1600px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }

    .small {
        opacity: 0;
        display:none;
    }

    .large {
        opacity: 1;
    }

    .large img {
        width: 140px;
        height: 18px;
        opacity: 1;
    }

    header #navbox nav {
        width: 600px;
        height: 20px;
        font-family: Play, sans-serif;
    }

    header #navbox ul {
        font-size: 13px;
    }

    header #navbox ul li {
        float: left;
        margin-left: 5%;
    }

    header #navbox ul li a {
        text-decoration: none;
        color: #fff;
        font-size:17px;
    }

    header #navbox ul li a:hover {
        width: 100%;
        border-bottom: 1px solid #967844;
        content: "";
        transform: scale(0);
        transition: all, 0.3s;
    }

    /*header fixed*/

    header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 8, 27, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 3;
    }

    header.fixed #navbox ul li a {
        color: #fff;
    }

    header.fixed #navbox .c {
        display: none;
    }



    /*footer*/
    footer {
        width: 100%;
        height: 387px;
        background-color: #112337;
        display: flex;


    }

    footer #wrap {
        width: 80%;
    }

    footer > .logo {
        width: 300px;
        height: 41px;
        background-size: cover;
        background-position: center;
    }

    footer > .logo h1 {
        font-size: 20px;
        font-family: Italianno;
        color: #fff;
        font-weight: 200;
    }

    footer > .subscribe {
        width: 443px;
        height: 219px;


    }

    footer .subscribe span {
        font-size: 24px;
        color: #fff;
        font-family: Playfair Display;
    }

    footer input {
        width: 332px;
        height: 35px;
        margin-top: 30px;
        font-family: Playfair Display;
    }

    footer > .about {
        width: 100px;
        height: 145px;
        position: relative;
        top: 15px;
        left: -170px;
    }

    footer > .about ul {
        font-size: 13px;
        font-family: Nanum Gothic;
        color: #f8f5f0;
    }

    footer > .about ul > li {
        float: left;
        font-size: 16px;
        font-family: Playfair Display;
        margin-top: 10px;
    }

    footer > .about > ul > li > a {
        color: #f8f5f0;
        text-decoration: none;
    }

    footer > .about > ul > li:hover a {
        color: #967844;
    }

}